<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}Arthropologia
		{% endblock %}
	</title>
	{% block stylesheets %}


		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/myStyle.css">

		<link rel="stylesheet" href="/css/myStyle.css">

		<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
	{% endblock %}

	{# // <script src="{{ asset('js/vue.min.js') }}"></script> #}

</head>
<body class="backgroungHome">
	{% include "shared/_navbar.html.twig" %}
	<div class="container">
	 {# *****************************************debut de mon progrmme**************************** #}
{# ******************* logo et le bouton diagnostic*************************** #}
<div class="row justify-content-md-center ">
			<div class="col col-md-5 col-sm-4 mt-5">
				
				<div class="text-center mb-3">
				<p class="titlePartie2 my-0" style="color: white;">bienvenue sur le</p>
				<img width="300px" src="/images/logo_diag_poll_blc.png" alt="">
				<p>
				<a href="{{ path('diagnostic_create') }}" class="btn buttonDiagnostique mt-4">
					Commencer le diagnostic
				</a>
				</p>
				</div>
    </div>
		</div>
		{# ******************* fin logo et le bouton diagnostic*************************** #}

<div class="row justify-content-md-center ">

{# ****************************************premier carte ********************************* #}
			<div class="card marginCarte mb-3">

					<div class="card-header text-white bg-dark">
						<h3 class="titleInfos">Objectif du diagnostic
						</h3>
					</div>

					<div class="card-body">
						<p class="card-text paragrapheInfos">
L’aménagement paysager en faveur des pollinisateurs est un moyen simple et efficace pour les urbanistes, gestionnaires d’espaces verts, de voiries et paysagistes d’agir pour la biodiversité locale. Les espaces verts, places publiques, carrefours giratoires, terres pleins, accotements et les parcs ont tous un potentiel pour répondre aux besoins élémentaires des pollinisateurs, comme la fourniture de ressources alimentaires, d’espaces de refuge, de nidification et d’hivernage.
						</p>
						<p class="card-text paragrapheInfos">
Le but de cet outil est d’<span class="paragrapheInfosBold">évaluer sur un site donné la qualité de l’habitat pour les pollinisateurs et d’identifier les champs de progression.</span> Ce processus vous aidera également à hiérarchiser les prochaines étapes essentielles à mettre en œuvre pour favoriser les pollinisateurs sur votre site.
            </p>
						</div>

			</div>
		

		{# ****************************************deuxiéme carte ********************************* #}
			<div class="card marginCarte mb-3">

					<div class="card-header text-white bg-dark">
						<h3 class="titleInfos">PRÉREQUIS POUR UTILISER CET OUTIL
						</h3>
					</div>

					<div class="card-body">
						<p class="card-text paragrapheInfos">
Pour utiliser cet outil de diagnostic, il est indispensable de savoir distinguer une <span class="paragrapheInfosBold">plante indigène</span>  (locale) d’une <span class="paragrapheInfosBold">plante exotique</span>  et/ou horticole. De nombreux critères étant basés sur l’origine des végétaux, une connaissance approximative biaiserait fortement le résultat, diminuerait la pertinence et perdrait de son objectif pédagogique.
						</p>
						</div>

			</div>

			{# ****************************************troisième carte ********************************* #}
			<div class="card marginCarte mb-3">

					<div class="card-header text-white bg-dark">
						<h3 class="titleInfos">COMMENT ÉVALUER VOTRE SITE ?
						</h3>
					</div>

					<div class="card-body">
						<p class="card-text paragrapheInfos">
<span class="paragrapheInfosBold">Conseils et instructions</span>
						</p>
						<p class="card-text paragrapheInfos">
Avant de procéder à une évaluation, il est conseillé de visualiser ou d’imprimer une photo aérienne du site pour répondre aux questions, notamment sur les pourcentages de recouvrements.
            </p>
						<p class="card-text paragrapheInfos">
<span class="paragrapheInfosBold" style="text-decoration: underline;">www.geoportail.fr</span>
						</p>
						<p class="card-text paragrapheInfos">
Rassemblez toutes les informations que vous possédez sur votre espace comme: la surface végétalisée, les espèces recensées, etc.
           </p>
           <p class="card-text paragrapheInfos">
L’évaluation doit idéalement être effectuée deux fois, une fois pendant le processus d’évaluation de votre site (avant de prendre les mesures recommandées) et 3 ans après (le temps que les changements ont été mis en œuvre et que la végétation a eu le temps de se développer).
          </p>
          <p class="card-text paragrapheInfos">
Utilisez la liste des actions pour promouvoir les pollinisateurs (document PDF à télécharger à la fin du diagnostic ou ci-dessous) afin de vous aider à sélectionner les prochaines étapes à mettre en œuvre sur votre site.
         </p>
         <p class="card-text paragrapheInfos">
Enfin, il peut être également utile de travailler sur un plan du site à aménager pour programmer les changements à venir : dessiner les zones et différencier les modes de gestion.
          </p>
					<p class="card-text paragrapheInfos">
<span class="paragrapheInfosBold">Système d’évaluation</span>
						</p>
						{# ***********Système d’évaluation*************** #}

						<div class="row justify-content-md-center">
							<div class="col-md-1 col-sm-8 text-center">
              <button type="button" class="btn btn-circle btn-lg mb-2 mt-3 ml-4">1</button>
							</div>
							<div class="col-md-11 col-sm-12">
<p class="card-text paragrapheInfos">
Répondez aux questions qui vous sont posées et qui permettent d’attribuer un certain nombre de points à votre site. Il y a 4 parties différentes : Zones d’alimentation, Habitats de nidification, Utilisation de pesticide et Informations et sensibilisations.
</p>
							</div>
							</div>

							<div class="row justify-content-md-center mt-4">
							<div class="col-md-1 col-sm-8 text-center">
<button type="button" class="btn btn-circle btn-lg mb-2 mt-3 ml-4">2</button>
							</div>
							<div class="col-md-11 col-sm-12">
<p class="card-text paragrapheInfos my-0">
L’évaluation doit idéalement être effectuée deux fois :
</p>
<p class="card-text paragrapheInfos my-0">
- une fois pour un état initial, du printemps à l’automne
</p>
<p class="card-text paragrapheInfos my-0">
- puis 3 ans après (le temps que les changements identifiés soient mis en œuvre et que la végétation ait le temps de se développer).
</p>
							</div>
							</div>

							<div class="row justify-content-md-center mt-4">
							<div class="col-md-1 col-sm-8 text-center">
<button type="button" class="btn btn-circle btn-lg mb-2 mt-3 ml-4">3</button>
							</div>
							<div class="col-md-11 col-sm-12">
<p class="card-text paragrapheInfos">
A la fin du diagnostic, vous obtiendrez vos scores pour chaque partie ainsi qu’une note globale. Vous pourrez également télécharger un document PDF contenant une liste d’actions à mener pour préserver les pollinisateurs en espaces urbanisés.
</p>
							</div>
							</div>

							<div class="row justify-content-md-center mt-4">
							<div class="col-md-1 col-sm-8 text-center">
<button type="button" class="btn btn-circle btn-lg mb-2 mt-4 ml-4">4</button>
							</div>
							<div class="col-md-11 col-sm-12">
<p class="card-text paragrapheInfos">
Les scores de chaque PARTIE doivent être utilisés pour identifier les problèmes de ressources et hiérarchiser les prochaines étapes. Par exemple, si le score de « l’habitat de nidification » est faible, les actions qui augmentent ce score doivent être priorisées. Idéalement, les gestionnaires de chaque site devraient essayer d’obtenir un score global d’au moins 144 points, avec des améliorations continues du site (et du score) chaque année.
</p>
							</div>
							</div>

             <div class="row justify-content-md-center mt-4">
							<div class="col-md-1 col-sm-8 text-center">
<button type="button" class="btn btn-circle btn-lg mb-2 ml-4">
<i class="fas fa-info"></i>
</button>
							</div>
							<div class="col-md-11 col-sm-12">
<p class="card-text paragrapheInfos">
Sur chaque page de question, retrouvez des conseils et des photos pour vous aider dans l’évaluation et la notation de votre site. Il vous suffit de cliquer sur l’icône “Informations”.
</p>
							</div>
							</div>


						{# *********** fin Système d’évaluation*************** #}
						</div>

			</div>

			{# ****************************************quatriéme  carte ********************************* #}
			<div class="card marginCarte mb-3">

					<div class="card-header text-white bg-dark">
						<h3 class="titleInfos">PRÉREQUIS POUR UTILISER CET OUTIL
						</h3>
					</div>

					<div class="card-body">
<p class="card-text paragrapheInfos">
Si vous n’êtes pas intéressé par la notation de votre site, mais que vous souhaitez tout de même améliorer votre habitat pour les pollinisateurs, utilisez la liste des actions pour promouvoir les pollinisateurs.
</p>
<p class="card-text paragrapheInfos">
Nous vous conseillons de télécharger ce PDF pour vous aider dans la notation de votre site, puisqu’il contient également des listes de plantes auxquelles vous pourrez vous référer.
</p>
<div class="text-center">
	<a href="/fichier/Diag_Pollinisateurs_EV_pages_conseils_ressources.pdf" target="_blank" type="button" style="background: #6AAF3C;" class=" btn buttonDiagnostique mb-3">Télécharger le PDF</a>
</div>
						</div>

			</div>
 {# ************************fin de l'enssemble de mes carte ************************ #}

 	</div>
	  {# ******************* le bouton diagnostic*************************** #}
		<div class="row justify-content-md-center mb-3">
			<div class="col col-md-6 col-sm-6">
				
				<div class="text-center">
				<a href="{{ path('diagnostic_create') }}" class="btn buttonDiagnostique mt-4">
					Commencer le diagnostic
				</a>
				</div>
    </div>
		</div>
		{# ******************* fin bouton diagnostic*************************** #}

 {# *****************************************fin de mon progrmme**************************** #}
</div>
</body>
</html>
