<div class="row mb-2" id="guidMobile">
	<div
		class="col-11 col-md-11 col-sm-11 ">


		<!-- Button trigger modal -->
		<div class="text-right">

			<button data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" class="btn btn-circle btn-lg">
				<i class="fas fa-info"></i>
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<p class="titleGuide">

							<button type="button" class="btn btn-circle btn-lg">
								<i class="fas fa-info"></i>
							</button>

					
					Guide de réponse</p>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<i class="fas fa-window-close"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="card-body">
					<p class="GuideSousParagraph">{{sousParagraphe1}}</p>
					<p class="GuideSousParagraph">{{sousParagraphe2}}</p>
					<p class="GuideSousParagraph">{{sousParagraphe3}}</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div></div></div>
